/* Made from CSS provided by the individual font projects */
@import url(fonts/Inter/inter.css);
@import url(fonts/SourceSerif/source-serif-variable.css);
@import url(fonts/NotoColorEmoji/NotoEmoji.css);
@import url(fonts/Nabla/nabla.css);

.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

.sourceserif {
	font-family: "Source Serif", serif;
	font-optical-sizing: auto;
}

.emoji {
	font-family: "Noto Color Emoji", sans-serif;
	font-size: 256px;
}

.banner {
	/* Special event banner with khaki background. */
	background-color: khaki;
}

.instructions {
	/* Instruction banner */
	background-color: darkorange;
}

.main {
	/* Wheat coloured backing for main page */
	background-color: wheat;
}

.mainHeader {
	/* Magenta coloured header */
	background-color: magenta;
}

.experimental {
	/* Orange body for KaTeX page */
	background-color: orange;
}

.experimentalHeader {
	/* Lime green header for KaTeX page */
	background-color: limegreen;
}

.graphHeader {
	/* Tomato header for Graphinator */
	background-color: tomato;
}

.graphText {
	background-color: darksalmon;
}

.alignment {
	/* Centre alignment class */
	text-align: center;
}

.divAlignment {
	/* Alignment class for divs */
	margin: auto;
}

.emojiHeader {
	background-color: lightskyblue;
}

.emojiText {
	background-color: lightseagreen;
}

.variableHeader {
	background-color: aquamarine;
}

.variableText {
	background-color: chartreuse;
}

.nablaHeader {
	background-color: violet;
}

.nablaText {
	background-color: plum;
}

@keyframes InterSlide {
	from {font-variation-settings: 'wght' 100;}
	to {font-variation-settings: 'wght' 900;}
}

.slidingtextInter {
	font-family: Inter, sans-serif;
	font-optical-sizing: auto;
	font-size: 500%;
	text-align: center;
	animation-name: InterSlide;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes SourceSerifSlide {
	from {font-variation-settings: 'wght' 200;}
	to {font-variation-settings: 'wght' 900;}
}

.slidingtextSourceSerif {
	font-family: 'Source Serif', serif;
	font-optical-sizing: auto;
	font-size: 500%;
	text-align: center;
	animation-name: SourceSerifSlide;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

p {
	/* Inter for body copy. Centre align is also included. */
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	text-align: center;
	font-size: 12pt;
	padding: 10px;
}

h1 {
	/* Source Serif for header */
	font-family: 'Source Serif', serif;
	font-optical-sizing: auto;
	text-align: center;
}
