/* Made from CSS provided by the individual font projects */
@import url(fonts/Inter/inter.css);
@import url(fonts/SourceSerif/source-serif-combined.css);

.emoji {
	font-family: "Noto Color Emoji", sans-serif;
	font-size: 256px;
}

.banner {
	/* Special event banner with khaki background. */
	background-color: khaki;
}

.instructions {
	/* Instruction banner */
	background-color: darkorange;
}

.main {
	/* Wheat coloured backing for main page */
	background-color: wheat;
}

.mainHeader {
	/* Magenta coloured header */
	background-color: magenta;
}

.experimental {
	/* Orange body for KaTeX page */
	background-color: orange;
}

.experimentalHeader {
	/* Lime green header for KaTeX page */
	background-color: limegreen;
}

.graphHeader {
	/* Tomato header for Graphinator */
	background-color: tomato;
}

.alignment {
	/* Centre alignment class */
	text-align: center;
}

.divAlignment {
	/* Alignment class for divs */
	margin: auto;
}

.emojiHeader {
	background-color: lightskyblue;
}

.emojiText {
	background-color: lightseagreen;
}

p {
	/* Inter for body copy. Centre align is also included. */
	font-family: "Inter", sans-serif;
	text-align: center;
	font-size: 12pt;
	padding: 10px;
}

/* Magic variable font code included with Inter */
@supports (font-variation-settings: normal) {
	p { font-family: "InterVar", sans-serif; font-optical-sizing: auto; }
}

h1 {
	/* Source Serif for header */
	font-family: 'Source Serif', serif;
	text-align: center;
}

/* The same code but for Source Serif*/
@supports (font-variation-settings: normal) {
	h1 { font-family: "Source Serif VF", sans-serif; font-optical-sizing: auto; }
}

